{% extends 'base.html' %}

{% block content %}
  <div class="hero">
    <div class="image-container-1">
      <img src="media/main/images/chemx_drip.gif" alt="">
    </div>
    <div class="hero-text-container">
      <p class="hero-text">Welcome to <b>Dail-In</b> coffee</p>
      <p>You're one stop for specialty coffee roast and brew recipie!</p>
      <p>Our database is built with folks in the industory in mind - from Baristas to roasters to even importers and graders - with an ultimate aim of creating a strong community of specialty coffee lovers</p>
    </div>
  </div>

  <div class="tile-wrapper">
    <a href="{% url 'apps.roast:roast_landing' %}">
      {% include '../components/tile/cube-tile.html' with imgURL='media/main/images/pixelated-coffee-bag.png' alt="Roasts"%}
    </a>
    <a href="{% url 'apps.roast:roast_landing' %}">
      {% include '../components/tile/cube-tile.html' with imgURL='media/main/images/coffee-mug.gif' alt="Roasts"%}
    </a>
    <a href="{% url 'apps.roast:roast_landing' %}">
      {% include '../components/tile/cube-tile.html' with imgURL='media/main/images/pix-bean.png' alt="Roasts"%}
    </a>
    <a href="{% url 'apps.roast:roast_landing' %}">
      {% include '../components/tile/cube-tile.html' with alt="Lorence Chany or Ellie Diamond"%}
    </a>

  </div>


{% endblock %}
