{% extends 'base.html' %}

{% block content %}
<div class="customForm-wrapper pixel-border">
  <h1 class="customForm-title"> Log in </h1>
  <form  class="customForm-form" action="{% url 'apps.users:login' %}" method="post">
    {% csrf_token %}
    {{ form }}
    {% if request.GET.next %}
      <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% endif %}
    <br>
    <br>
    <input class="customForm-button" type="submit" name="" value="login">
  </form>
  <a class="customForm-link" href="{% url 'apps.users:password_reset' %}">Forgot Password</a>
</div>
{% endblock %}
