<br>
<br>
<br>
<br>
<div class="footer-wrapper">
  <div class="block">
    <div class="column-three">
      <div class="footer-appeal">
        <p><a href="{% url 'apps.users:signup' %}">Sign up</a> today and join a triving community of specialty coffee roasters and brewers!</p>
      </div>

    </div>
    <div class="column-two">
      <div class="footer-social-wrapper">
        <a href="https://twitter.com">{% include 'core/components/icons/twitter.html' %}</a>
        <a href="https://twitter.com">{% include 'core/components/icons/instagram.html' %}</a>
        <a href="https://twitter.com">{% include 'core/components/icons/patreon.html' %}</a>
      </div>
      <div class="footer-legal">
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
      </div>
      <div class="footer-credits">
        <a href="https://madewithloveinbaltimore.org">Made with ♥ in Baltimore</a>
        <p>Designed by Brook Daba</p>
      </div>
    </div>
  </div>
  <div class="block">

  </div>
</div>
