{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dail-in.coffee</title>
    <link rel="stylesheet" href="{% static 'style/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    {% block head %}

    {% endblock %}
  </head>
  <body>
      {% include 'core/components/header.html' %}
      <div id="mainView">
      {% block content %}
      {% endblock %}
      </div>
      {% include 'core/components/footer.html' %}
    <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
  </body>
</html>
