header {
  padding: 0 20px;
  background-color: @uber-black;;
  height: 50px;
  display: flex;
  justify-content: space-between;
  h1{
    font-weight: bold;
    font-size: 33.3px;
    display: flex;
    align-items: center;
    a {
      font-family: 'Extrude';
      text-decoration: none;
    }
  }
  ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    li{
      padding: 5px;
      margin-left: 10px;
      &:hover{
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }
  nav{
    .wrapper{
      display: flex;
      margin-left: 44.4px;
    }
    @media only screen and (max-width: @mobile-min) {
      display: none;
    }
  }
  .hamburger-icon{
    margin: auto 0;
    display: none;
    cursor: pointer;
    div {
      width: 35px;
      height: 3px;
      background-color: @melon;
      margin: 6px 0;
      transition: 0.4s;
      &.wrapper{
        width: auto;
        height: auto;
        background: none;
        display: flex;
        margin-top: 55px;
      }
    }
    .mobile-menu{
      display: none;
      position: absolute;
      top: 50px;
      left: 0;
      height: calc(100vh - 50px);
      width: 100%;
      margin-top: 0px;
      padding-top: 33px;
      margin-bottom: 0px;
      padding: 33px 0px;
      background: @dark-background;
      li{
        margin-bottom: 33.3px;
      }
    }

    @media only screen and (max-width: @mobile-min) {
      display: block;
    }
  }
  .open {
    .bar1{
      -webkit-transform: rotate(-45deg) translate(-6px, 6px);
      transform: rotate(-45deg) translate(-6px, 6px);
      }
    .bar2{
      opacity: 0;
    }
    .bar3{
      -webkit-transform: rotate(45deg) translate(-6px, -8px);
      transform: rotate(45deg) translate(-6px, -8px);
    }
    .mobile-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  }
}
